.items {
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    .table{
        text-align: left;
        display:flex;
        justify-content:center;
    }
    .download-btn{
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
}
    